@use '../variables' as *;
@use 'sass:color';

.page {
    padding: 90px 40px;
    background-color: $light-gray; 
    min-height: 100vh; 
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-light; 
}

.title {
    font-size: 38px; 
    color: $dark-blue; 
    font-weight: 700; 
}

.btn-random-generation{
    margin-bottom: 30px;
}

.stats-section {
    display: flex; 
    gap: 30px; 
    margin: 30px 0 60px; 
}

.stat-box {
    background-color: $white; 
    border: 1px solid $border-light;
    border-radius: 12px; 
    padding: 25px 35px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: translateY(-5px); 

        .stat-number{
            color: $blue-100;
        }
    }

    .stat-number {
        font-size: 64px; 
        color: $dark-blue;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .stat-label {
        font-size: 18px;
        font-weight: 500;
        color: $dark-gray; 
        text-transform: uppercase; 
        letter-spacing: 0.5px; 
    }
}

.table-info {
    font-size: 16px;
    color: $medium-gray; 
    margin-bottom: 25px; 
    text-align: center; 
    background-color: $light-blue-background; 
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid $light-blue-border;
}







